# .gitignore settings for BTR Developers
# Check out: http://stackoverflow.com/questions/2143956/gitignore-for-visual-studio-projects-and-solutions

# git config --global core.excludesfile ~/.gitignore_global
# http://help.github.com/git-ignore/

~*.xls*
*.user
*.vbg
*.vbw
*.lib
*.exp
*.vspscc
*.vssscc
*.scc
*.suo
*.cache
*.sln
UpgradeLog.*
Thumbs.db
*.backup
*.Publish.xml
.gitRepo
*.t4properties

[Oo]bj/
[Bb]in/
packages/
_UpgradeReport_Files/
.vs/

# MadHatter Admin
Clients/
# client skins
!wwwroot/clients/
Assemblies/
_Assemblies.Restart/

Backup/
_Developer/Help/

# Evolution nested repositories
/Shared*/
!**/Views/Shared/*
!**/Pages/Shared/*

# Node/Typescript
node_modules/*
src/node_modules/*
package-lock.json
out/

# Camelot / .NET Core
secrets.*.json
Directory.Build.props
AssemblyInfo.generated.cs
*.Releases/
**/tests/**/TestResults/
*SvcOffline.txt

# KAT Git Files
!.gitconfig.user